[submodule "big_data_2025/repo"]
	path = big_data_2025/repo
	url = git@github.com:V1adych/ai-masters-bigdata.git
[submodule "ml_3_2025/2025_ML3"]
	path = ml_3_2025/2025_ML3
	url = git@github.com:SergeyMalashenko/2025_ML3.git
[submodule "control_2025/course_repo"]
	path = control_2025/course_repo
	url = git@github.com:kefir8888/smrai2025.git
[submodule "arl_2026/aimasters_2026"]
	path = arl_2026/aimasters_2026
	url = git@github.com:dmitrySorokin/aimasters_2026.git
