*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.fls
*.out
*.csv
*.parquet
__pycache__
data/
res-vis/
abt_2025/hw3/03-metrics-hw.ipynb
.pytest_cache
abt_2025/hw5/experiments_sample.json
ml2_2025/hw3/model.lgb